.grid-display{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
}

.grid-item{
    justify-self: center;
}

.flex-display{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-display div{
    min-width: 300px;
    margin-top: 5%;
}